Source: hiveden
Section: python
Priority: optional
Maintainer: Ermal Guni <ermalguni@gmail.com>
Build-Depends: debhelper-compat (= 13), python3-all, python3-setuptools, python3-wheel, python3-build
Standards-Version: 4.5.0

Package: hiveden
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-paramiko, python3-websockets, python3-uvicorn, python3-psutil, python3-fastapi, python3-docker, python3-pydantic, python3-starlette, python3-typing-extensions, python3-nacl, python3-uvloop, python3-h11, python3-wsproto, python3-anyio, python3-sniffio, docker.io, python3-psycopg2, smartmontools, lxc, python3-lxc, lshw
Description: A CLI tool and REST API for managing your personal server.
