[Unit]
Description=Hiveden Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/hiveden
ExecStart=/usr/bin/hiveden server --host 0.0.0.0 --db-url sqlite:///opt/hiveden/hiveden.db
Restart=always

[Install]
WantedBy=multi-user.target
